<div class="container hor-margin cs-container">
  <% if @categories %>
  <div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <% @categories.each do |category| %>
            <li role="presentation" class="<%= params[:controller] == 'articles' ? 'active' : '' %>"><%= link_to t('page.categories.all_button'), articles_path %></li>
            <li role="presentation" class="<%= params[:id] == category.id ? 'active' : '' %>"><%= link_to "#{category.id} #{category.name}", [category] %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <% end %>
  <div class="row mt10">

          <% @articles.each do |article| %>
          <div class="col-sm-3 articles-outer-container">
            <div class="articles-container">
                <div class="articles-thumbnail">
                    <img src="" /> 
                </div>

                <div class="articles-name-container">
                  <span class="articles-name"><%= link_to article.name, article_path(article.id) %></span>
                </div>

                <div class="articles-content">
                    <p><%= article.content.truncate(100)%></p>
                </div>

              </div>
              <div class="articles-watch">
                  <span><%= link_to t('page.article.button.read_more'), article_path(article.id) %></span>
              </div>
          </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12 mt20">
        <% if admin? %>
            <%= link_to 'New Article', new_admin_article_path %>
        <% end %>
    </div>
  </div>
</div>