

<div class="container-fluid">

  <div class="middle-container">


    <div class="login-title-container">
      <div class="login-title"><%= t('sessions.please_sign_in') %></div>
    </div>

    <div class="login-input-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-form-group">
        <%= f.label t('sessions.label.email'), class: 'login-label' %>
        <%= f.email_field :email, autofocus: true, id: 'login-input' %>
      </div>

      <div class="login-form-group">
        <%= f.label t('sessions.label.password'), class: 'login-label' %>
        <%= f.password_field :password, autocomplete: "off", id: 'login-input' %>
      </div>

  <!--     <% if devise_mapping.rememberable? -%>
        <div class="login-form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%> -->
    <div class="login-social-container">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>

          <%= link_to raw("<span class='login-social fa fa-#{provider}-square fa-3x'></span>"), omniauth_authorize_path(resource_name, provider) %>
        <% end -%>
      <% end -%>
    </div>

      
      <%= f.submit t('sessions.button.sign_in'), class: 'login-btn' %>
    <% end %>

<!--     <%= render "devise/shared/links" %> -->
      <div class="login-forgotRegister-container">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to t('sessions.forgot_password'), new_password_path(resource_name), class: 'login-forgot' %>,
        <% end -%>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t('sessions.create_account'), new_registration_path(resource_name), class: 'login-new' %>
        <% end -%>


      </div>
    </div>
  </div>

</div>